<a href="https://colab.research.google.com/github/alexsantostavares/TensorflowMLP/blob/master/TensorFlowMLPFinal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# garantir que seja instalado recurso utilizado
!pip install -U imbalanced-learn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: imbalanced-learn in /usr/local/lib/python3.8/dist-packages (0.9.1)
Requirement already satisfied: joblib>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from imbalanced-learn) (1.2.0)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.8/dist-packages (from imbalanced-learn) (1.7.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from imbalanced-learn) (3.1.0)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from imbalanced-learn) (1.21.6)
Requirement already satisfied: scikit-learn>=1.1.0 in /usr/local/lib/python3.8/dist-packages (from imbalanced-learn) (1.1.3)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#importando todas as bibliotecas
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import tensorflow as tf
from imblearn.over_sampling import RandomOverSampler
import sys
import csv

In [ ]:
#leitura do arquivo csv
df = pd.read_csv("/content/drive/MyDrive/Base/BD-2trab(CSV) (1).csv")

In [ ]:
df

,Alternativo,Bar,Sex/Sab,Faminto,Cliente,Preço,Chove,Reserva,Tipo,Espera,Meta
0,Sim,Não,Não,Sim,Alg,$$$,Não,Sim,Fra,0-10,Sim
1,Sim,Não,Não,Sim,Che,$,Não,Não,Tai,30-60,Não
2,Não,Sim,Não,Não,Alg,$,Não,Não,Ham,0-10,Sim
3,Sim,Não,Sim,Sim,Che,$,Sim,Não,Tai,10-30,Sim
4,Sim,Não,Sim,Não,Che,$$$,Não,Sim,Fra,>60,Não
5,Não,Sim,Não,Sim,Alg,$$,Sim,Sim,Ita,0-10,Sim
6,Não,Sim,Não,Não,Ne,$,Sim,Não,Ham,0-10,Não
7,Não,Não,Não,Sim,Alg,$$,Sim,Sim,Tai,0-10,Sim
8,Não,Sim,Sim,Não,Che,$,Sim,Não,Ham,>60,Não
9,Sim,Sim,Sim,Sim,Che,$$$,Não,Sim,Ita,10-30,Não
10,Não,Não,Não,Não,Ne,$,Não,Não,Tai,0-10,Não
11,Sim,Sim,Sim,Sim,Che,$,Não,Não,Ham,30-60,Sim

In [ ]:
# substituindo sim e não por 1 e 0
df = df.replace(['Sim'], 1)
df = df.replace(['Sim '], 1)
df = df.replace([' Sim'], 1)
df = df.replace(['sim'], 1)
df = df.replace(['sim '], 1)
df = df.replace([' sim'], 1)
df = df.replace(['Não'], 0)
df = df.replace(['Não '], 0)
df = df.replace([' Não'], 0)
df = df.replace(['não'], 0)
df = df.replace(['não '], 0)
df = df.replace([' não'], 0)

In [ ]:
df.head()

,Alternativo,Bar,Sex/Sab,Faminto,Cliente,Preço,Chove,Reserva,Tipo,Espera,Meta
0,1,0,0,1,Alg,$$$,0,1,Fra,0-10,1
1,1,0,0,1,Che,$,0,0,Tai,30-60,0
2,0,1,0,0,Alg,$,0,0,Ham,0-10,1
3,1,0,1,1,Che,$,1,0,Tai,10-30,1
4,1,0,1,0,Che,$$$,0,1,Fra,>60,0

In [ ]:
# converte string repetidas em valores numericos

mapeamento_pala = {}

for coluna in df.columns:
  if type(coluna) is str:
    contador = df[coluna].unique()
    total = len(contador)
    mapeando = dict(zip(contador, range(total)))
    mapeamento_pala[coluna] = mapeando
    df[coluna] = df[coluna].replace(mapeando)

In [ ]:
df

,Alternativo,Bar,Sex/Sab,Faminto,Cliente,Preço,Chove,Reserva,Tipo,Espera,Meta
0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,1,1,0,1,1,1,1
2,1,1,0,1,0,1,0,1,2,0,0
3,0,0,1,0,1,1,1,1,1,2,0
4,0,0,1,1,1,0,0,0,0,3,1
5,1,1,0,0,0,2,1,0,3,0,0
6,1,1,0,1,2,1,1,1,2,0,1
7,1,0,0,0,0,2,1,0,1,0,0
8,1,1,1,1,1,1,1,1,2,3,1
9,0,1,1,0,1,0,0,0,3,2,1
10,1,0,0,1,2,1,0,1,1,0,1
11,0,1,1,0,1,1,0,1,2,1,0

In [ ]:
# normalizando o formato de X e Y para que possam ser comparados
X = df[df.columns[:-1]].values
y = df[df.columns[-1]].values

In [ ]:
# Mostrando o formato
X.shape, y.shape

((12, 10), (12,))

In [ ]:
# normalizando o formato de X e Y para que possam ser comparados parte 2
scaler = StandardScaler()
X = scaler.fit_transform(X)
data = np.hstack((X, np.reshape(y, (-1, 1))))
transformed_df = pd.DataFrame(data, columns=df.columns)

In [ ]:
# normalizando o formato de X e Y para que possam ser comparados parte 3
over = RandomOverSampler()
X, y = over.fit_resample(X, y)
data = np.hstack((X, np.reshape(y, (-1, 1))))
transformed_df = pd.DataFrame(data, columns=df.columns)

In [ ]:
# dispozição dos valores do meta sim,não ou 1,0
len(transformed_df[transformed_df["Meta"]==1]), len(transformed_df[transformed_df["Meta"]==0])

(6, 6)

In [ ]:
# determinando os treinamentos
X_train, X_temp, y_train, y_temp = train_test_split(X, y, test_size=0.4, random_state=0)
X_valid, X_test, y_valid, y_test = train_test_split(X_temp, y_temp, test_size=0.5, random_state=0)

In [ ]:
# definindo a quantidade de camadas e metodo
model = tf.keras.Sequential([
                             tf.keras.layers.Dense(24, activation='relu'), # if x <= 0 --> 0, x > 0 --> x
                             tf.keras.layers.Dense(16, activation='relu'),
                             tf.keras.layers.Dense(16, activation='relu'),
                             tf.keras.layers.Dense(1, activation="sigmoid")
])

In [ ]:
# mais alguns parametros e a taxa de aprendizagem
model.compile(optimizer=tf.keras.optimizers.Adam(learning_rate=0.001),
              loss=tf.keras.losses.BinaryCrossentropy(),
              metrics=['accuracy'])

In [ ]:
# pré avaliação com variaveis de treino
model.evaluate(X_train, y_train)

1/1 [==============================] - 1s 526ms/step - loss: 0.6600 - accuracy: 0.5714

[0.6599979996681213, 0.5714285969734192]

In [ ]:
# pré avaliação 2
model.evaluate(X_valid, y_valid)

1/1 [==============================] - 0s 59ms/step - loss: 0.6420 - accuracy: 1.0000

[0.6420055031776428, 1.0]

In [ ]:
# treinamento
model.fit(X_train, y_train, batch_size=8, epochs=40, validation_data=(X_valid, y_valid))

Epoch 1/40
1/1 [==============================] - 1s 775ms/step - loss: 0.6600 - accuracy: 0.5714 - val_loss: 0.6407 - val_accuracy: 1.0000
Epoch 2/40
1/1 [==============================] - 0s 33ms/step - loss: 0.6488 - accuracy: 0.5714 - val_loss: 0.6396 - val_accuracy: 1.0000
Epoch 3/40
1/1 [==============================] - 0s 32ms/step - loss: 0.6381 - accuracy: 0.5714 - val_loss: 0.6380 - val_accuracy: 1.0000
Epoch 4/40
1/1 [==============================] - 0s 35ms/step - loss: 0.6276 - accuracy: 0.7143 - val_loss: 0.6364 - val_accuracy: 1.0000
Epoch 5/40
1/1 [==============================] - 0s 33ms/step - loss: 0.6172 - accuracy: 0.7143 - val_loss: 0.6348 - val_accuracy: 1.0000
Epoch 6/40
1/1 [==============================] - 0s 43ms/step - loss: 0.6070 - accuracy: 0.7143 - val_loss: 0.6331 - val_accuracy: 1.0000
Epoch 7/40
1/1 [==============================] - 0s 36ms/step - loss: 0.5971 - accuracy: 0.7143 - val_loss: 0.6312 - val_accuracy: 1.0000
Epoch 8/40
1/1 [==============================] - 0s 27ms/step - loss: 0.5876 - accuracy: 0.7143 - val_loss: 0.6293 - val_accuracy: 1.0000
Epoch 9/40
1/1 [==============================] - 0s 28ms/step - loss: 0.5783 - accuracy: 0.7143 - val_loss: 0.6272 - val_accuracy: 1.0000
Epoch 10/40
1/1 [==============================] - 0s 31ms/step - loss: 0.5690 - accuracy: 0.8571 - val_loss: 0.6251 - val_accuracy: 1.0000
Epoch 11/40
1/1 [==============================] - 0s 44ms/step - loss: 0.5597 - accuracy: 0.8571 - val_loss: 0.6230 - val_accuracy: 1.0000
Epoch 12/40
1/1 [==============================] - 0s 37ms/step - loss: 0.5505 - accuracy: 0.8571 - val_loss: 0.6208 - val_accuracy: 1.0000
Epoch 13/40
1/1 [==============================] - 0s 36ms/step - loss: 0.5417 - accuracy: 0.8571 - val_loss: 0.6187 - val_accuracy: 1.0000
Epoch 14/40
1/1 [==============================] - 0s 32ms/step - loss: 0.5338 - accuracy: 0.8571 - val_loss: 0.6165 - val_accuracy: 1.0000
Epoch 15/40
1/1 [==============================] - 0s 42ms/step - loss: 0.5269 - accuracy: 0.8571 - val_loss: 0.6144 - val_accuracy: 1.0000
Epoch 16/40
1/1 [==============================] - 0s 32ms/step - loss: 0.5201 - accuracy: 0.8571 - val_loss: 0.6123 - val_accuracy: 1.0000
Epoch 17/40
1/1 [==============================] - 0s 54ms/step - loss: 0.5134 - accuracy: 0.8571 - val_loss: 0.6101 - val_accuracy: 1.0000
Epoch 18/40
1/1 [==============================] - 0s 63ms/step - loss: 0.5066 - accuracy: 0.8571 - val_loss: 0.6078 - val_accuracy: 1.0000
Epoch 19/40
1/1 [==============================] - 0s 70ms/step - loss: 0.4998 - accuracy: 0.8571 - val_loss: 0.6054 - val_accuracy: 1.0000
Epoch 20/40
1/1 [==============================] - 0s 73ms/step - loss: 0.4929 - accuracy: 0.8571 - val_loss: 0.6029 - val_accuracy: 1.0000
Epoch 21/40
1/1 [==============================] - 0s 49ms/step - loss: 0.4860 - accuracy: 0.8571 - val_loss: 0.6005 - val_accuracy: 1.0000
Epoch 22/40
1/1 [==============================] - 0s 40ms/step - loss: 0.4790 - accuracy: 0.8571 - val_loss: 0.5979 - val_accuracy: 1.0000
Epoch 23/40
1/1 [==============================] - 0s 50ms/step - loss: 0.4720 - accuracy: 1.0000 - val_loss: 0.5957 - val_accuracy: 1.0000
Epoch 24/40
1/1 [==============================] - 0s 30ms/step - loss: 0.4650 - accuracy: 1.0000 - val_loss: 0.5938 - val_accuracy: 1.0000
Epoch 25/40
1/1 [==============================] - 0s 34ms/step - loss: 0.4578 - accuracy: 1.0000 - val_loss: 0.5920 - val_accuracy: 1.0000
Epoch 26/40
1/1 [==============================] - 0s 29ms/step - loss: 0.4506 - accuracy: 1.0000 - val_loss: 0.5901 - val_accuracy: 1.0000
Epoch 27/40
1/1 [==============================] - 0s 30ms/step - loss: 0.4432 - accuracy: 1.0000 - val_loss: 0.5883 - val_accuracy: 1.0000
Epoch 28/40
1/1 [==============================] - 0s 37ms/step - loss: 0.4358 - accuracy: 1.0000 - val_loss: 0.5865 - val_accuracy: 1.0000
Epoch 29/40
1/1 [==============================] - 0s 32ms/step - loss: 0.4286 - accuracy: 1.0000 - val_loss: 0.5847 - val_accuracy: 1.0000
Epoch 30/40
1/1 [==============================] - 0s 31ms/step - loss: 0.4213 - accuracy: 1.0000 - val_loss: 0.5825 - val_accuracy: 1.0000
Epoch 31/40
1/1 [==============================] - 0s 31ms/step - loss: 0.4137 - accuracy: 1.0000 - val_loss: 0.5801 - val_accuracy: 1.0000
Epoch 32/40
1/1 [==============================] - 0s 35ms/step - loss: 0.4062 - accuracy: 1.0000 - val_loss: 0.5777 - val_accuracy: 1.0000
Epoch 33/40
1/1 [==============================] - 0s 50ms/step - loss: 0.3985 - accuracy: 1.0000 - val_loss: 0.5752 - val_accuracy: 1.0000
Epoch 34/40
1/1 [==============================] - 0s 43ms/step - loss: 0.3908 - accuracy: 1.0000 - val_loss: 0.5725 - val_accuracy: 1.0000
Epoch 35/40
1/1 [==============================] - 0s 30ms/step - loss: 0.3833 - accuracy: 1.0000 - val_loss: 0.5697 - val_accuracy: 1.0000
Epoch 36/40
1/1 [==============================] - 0s 30ms/step - loss: 0.3757 - accuracy: 1.0000 - val_loss: 0.5668 - val_accuracy: 1.0000
Epoch 37/40
1/1 [==============================] - 0s 40ms/step - loss: 0.3680 - accuracy: 1.0000 - val_loss: 0.5639 - val_accuracy: 1.0000
Epoch 38/40
1/1 [==============================] - 0s 31ms/step - loss: 0.3602 - accuracy: 1.0000 - val_loss: 0.5609 - val_accuracy: 1.0000
Epoch 39/40
1/1 [==============================] - 0s 30ms/step - loss: 0.3523 - accuracy: 1.0000 - val_loss: 0.5579 - val_accuracy: 1.0000
Epoch 40/40
1/1 [==============================] - 0s 48ms/step - loss: 0.3445 - accuracy: 1.0000 - val_loss: 0.5549 - val_accuracy: 1.0000

In [ ]:
# avaliação com as variaveis separadas para teste
model.evaluate(X_test, y_test)

1/1 [==============================] - 0s 21ms/step - loss: 0.7114 - accuracy: 0.3333

[0.7113985419273376, 0.3333333432674408]

In [ ]:
# avaliação com todos os elementos
model.evaluate(X, y)

1/1 [==============================] - 0s 23ms/step - loss: 0.4669 - accuracy: 0.8333

[0.4669020175933838, 0.8333333134651184]