<a href="https://colab.research.google.com/github/alexsantostavares/TensorflowMLP/blob/master/TensorFlowMLPFinal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
# garantir que seja instalado recurso utilizado
!pip install -U imbalanced-learn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: imbalanced-learn in /usr/local/lib/python3.8/dist-packages (0.9.1)
Requirement already satisfied: joblib>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from imbalanced-learn) (1.2.0)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.8/dist-packages (from imbalanced-learn) (1.7.3)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from imbalanced-learn) (1.21.6)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from imbalanced-learn) (3.1.0)
Requirement already satisfied: scikit-learn>=1.1.0 in /usr/local/lib/python3.8/dist-packages (from imbalanced-learn) (1.1.3)

In [25]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [26]:
#importando todas as bibliotecas
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import tensorflow as tf
from imblearn.over_sampling import RandomOverSampler
import sys
import csv

In [27]:
#leitura do arquivo csv
df = pd.read_csv("/content/drive/MyDrive/Base/BD-2trab(CSV) (1).csv")

In [28]:
df

,Alternativo,Bar,Sex/Sab,Faminto,Cliente,Preço,Chove,Reserva,Tipo,Espera,Meta
0,Sim,Não,Não,Sim,Alg,$$$,Não,Sim,Fra,0-10,Sim
1,Sim,Não,Não,Sim,Che,$,Não,Não,Tai,30-60,Não
2,Não,Sim,Não,Não,Alg,$,Não,Não,Ham,0-10,Sim
3,Sim,Não,Sim,Sim,Che,$,Sim,Não,Tai,10-30,Sim
4,Sim,Não,Sim,Não,Che,$$$,Não,Sim,Fra,>60,Não
5,Não,Sim,Não,Sim,Alg,$$,Sim,Sim,Ita,0-10,Sim
6,Não,Sim,Não,Não,Ne,$,Sim,Não,Ham,0-10,Não
7,Não,Não,Não,Sim,Alg,$$,Sim,Sim,Tai,0-10,Sim
8,Não,Sim,Sim,Não,Che,$,Sim,Não,Ham,>60,Não
9,Sim,Sim,Sim,Sim,Che,$$$,Não,Sim,Ita,10-30,Não
10,Não,Não,Não,Não,Ne,$,Não,Não,Tai,0-10,Não
11,Sim,Sim,Sim,Sim,Che,$,Não,Não,Ham,30-60,Sim

In [29]:
# substituindo sim e não por 1 e 0
df = df.replace(['Sim'], 1)
df = df.replace(['Sim '], 1)
df = df.replace([' Sim'], 1)
df = df.replace(['sim'], 1)
df = df.replace(['sim '], 1)
df = df.replace([' sim'], 1)
df = df.replace(['Não'], 0)
df = df.replace(['Não '], 0)
df = df.replace([' Não'], 0)
df = df.replace(['não'], 0)
df = df.replace(['não '], 0)
df = df.replace([' não'], 0)

In [30]:
df.head()

,Alternativo,Bar,Sex/Sab,Faminto,Cliente,Preço,Chove,Reserva,Tipo,Espera,Meta
0,1,0,0,1,Alg,$$$,0,1,Fra,0-10,1
1,1,0,0,1,Che,$,0,0,Tai,30-60,0
2,0,1,0,0,Alg,$,0,0,Ham,0-10,1
3,1,0,1,1,Che,$,1,0,Tai,10-30,1
4,1,0,1,0,Che,$$$,0,1,Fra,>60,0

In [31]:
# converte string repetidas em valores numericos

palavras = {}

for coluna in df.columns:
  if type(coluna) is str:
    contador = df[coluna].unique()
    total = len(contador)
    mapeando = dict(zip(contador, range(total)))
    palavras[coluna] = mapeando
    df[coluna] = df[coluna].replace(mapeando)

In [32]:
df

,Alternativo,Bar,Sex/Sab,Faminto,Cliente,Preço,Chove,Reserva,Tipo,Espera,Meta
0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,1,1,0,1,1,1,1
2,1,1,0,1,0,1,0,1,2,0,0
3,0,0,1,0,1,1,1,1,1,2,0
4,0,0,1,1,1,0,0,0,0,3,1
5,1,1,0,0,0,2,1,0,3,0,0
6,1,1,0,1,2,1,1,1,2,0,1
7,1,0,0,0,0,2,1,0,1,0,0
8,1,1,1,1,1,1,1,1,2,3,1
9,0,1,1,0,1,0,0,0,3,2,1
10,1,0,0,1,2,1,0,1,1,0,1
11,0,1,1,0,1,1,0,1,2,1,0

In [33]:
# normalizando o formato de X e Y para que possam ser comparados
X = df[df.columns[:-1]].values
y = df[df.columns[-1]].values

In [34]:
# Mostrando o formato
X.shape, y.shape

((12, 10), (12,))

In [35]:
# normalizando o formato de X e Y para que possam ser comparados parte 2
scaler = StandardScaler()
X = scaler.fit_transform(X)
data = np.hstack((X, np.reshape(y, (-1, 1))))
transformed_df = pd.DataFrame(data, columns=df.columns)

In [36]:
# normalizando o formato de X e Y para que possam ser comparados parte 3
over = RandomOverSampler()
X, y = over.fit_resample(X, y)
data = np.hstack((X, np.reshape(y, (-1, 1))))
transformed_df = pd.DataFrame(data, columns=df.columns)

In [37]:
# dispozição dos valores do meta sim,não ou 1,0
len(transformed_df[transformed_df["Meta"]==1]), len(transformed_df[transformed_df["Meta"]==0])

(6, 6)

In [38]:
# determinando os treinamentos
X_train, X_temp, y_train, y_temp = train_test_split(X, y, test_size=0.4, random_state=0)
X_valid, X_test, y_valid, y_test = train_test_split(X_temp, y_temp, test_size=0.5, random_state=0)

In [39]:
# definindo a quantidade de camadas e metodo
model = tf.keras.Sequential([
                             tf.keras.layers.Dense(24, activation='relu'), # if x <= 0 --> 0, x > 0 --> x
                             tf.keras.layers.Dense(16, activation='relu'),
                             tf.keras.layers.Dense(16, activation='relu'),
                             tf.keras.layers.Dense(1, activation="sigmoid")
])

In [40]:
# mais alguns parametros e a taxa de aprendizagem
model.compile(optimizer=tf.keras.optimizers.Adam(learning_rate=0.001),
              loss=tf.keras.losses.BinaryCrossentropy(),
              metrics=['accuracy'])

In [41]:
# pré avaliação com variaveis de treino
model.evaluate(X_train, y_train)

1/1 [==============================] - 0s 406ms/step - loss: 0.7376 - accuracy: 0.5714

[0.7376202940940857, 0.5714285969734192]

In [42]:
# pré avaliação 2
model.evaluate(X_valid, y_valid)

1/1 [==============================] - 0s 20ms/step - loss: 0.7848 - accuracy: 0.0000e+00

[0.784773588180542, 0.0]

In [43]:
# treinamento
model.fit(X_train, y_train, batch_size=8, epochs=40, validation_data=(X_valid, y_valid))

Epoch 1/40
1/1 [==============================] - 1s 673ms/step - loss: 0.7376 - accuracy: 0.5714 - val_loss: 0.7825 - val_accuracy: 0.0000e+00
Epoch 2/40
1/1 [==============================] - 0s 32ms/step - loss: 0.7260 - accuracy: 0.5714 - val_loss: 0.7798 - val_accuracy: 0.0000e+00
Epoch 3/40
1/1 [==============================] - 0s 36ms/step - loss: 0.7148 - accuracy: 0.5714 - val_loss: 0.7771 - val_accuracy: 0.0000e+00
Epoch 4/40
1/1 [==============================] - 0s 33ms/step - loss: 0.7037 - accuracy: 0.5714 - val_loss: 0.7745 - val_accuracy: 0.0000e+00
Epoch 5/40
1/1 [==============================] - 0s 32ms/step - loss: 0.6928 - accuracy: 0.5714 - val_loss: 0.7722 - val_accuracy: 0.0000e+00
Epoch 6/40
1/1 [==============================] - 0s 30ms/step - loss: 0.6827 - accuracy: 0.5714 - val_loss: 0.7701 - val_accuracy: 0.0000e+00
Epoch 7/40
1/1 [==============================] - 0s 60ms/step - loss: 0.6729 - accuracy: 0.5714 - val_loss: 0.7680 - val_accuracy: 0.0000e+00
Epoch 8/40
1/1 [==============================] - 0s 47ms/step - loss: 0.6640 - accuracy: 0.5714 - val_loss: 0.7659 - val_accuracy: 0.0000e+00
Epoch 9/40
1/1 [==============================] - 0s 84ms/step - loss: 0.6555 - accuracy: 0.5714 - val_loss: 0.7640 - val_accuracy: 0.0000e+00
Epoch 10/40
1/1 [==============================] - 0s 44ms/step - loss: 0.6474 - accuracy: 0.5714 - val_loss: 0.7620 - val_accuracy: 0.0000e+00
Epoch 11/40
1/1 [==============================] - 0s 38ms/step - loss: 0.6385 - accuracy: 0.5714 - val_loss: 0.7603 - val_accuracy: 0.0000e+00
Epoch 12/40
1/1 [==============================] - 0s 58ms/step - loss: 0.6296 - accuracy: 0.5714 - val_loss: 0.7587 - val_accuracy: 0.0000e+00
Epoch 13/40
1/1 [==============================] - 0s 29ms/step - loss: 0.6206 - accuracy: 0.5714 - val_loss: 0.7573 - val_accuracy: 0.0000e+00
Epoch 14/40
1/1 [==============================] - 0s 37ms/step - loss: 0.6117 - accuracy: 0.7143 - val_loss: 0.7559 - val_accuracy: 0.0000e+00
Epoch 15/40
1/1 [==============================] - 0s 34ms/step - loss: 0.6031 - accuracy: 0.7143 - val_loss: 0.7546 - val_accuracy: 0.0000e+00
Epoch 16/40
1/1 [==============================] - 0s 34ms/step - loss: 0.5946 - accuracy: 0.7143 - val_loss: 0.7534 - val_accuracy: 0.0000e+00
Epoch 17/40
1/1 [==============================] - 0s 34ms/step - loss: 0.5863 - accuracy: 0.7143 - val_loss: 0.7526 - val_accuracy: 0.0000e+00
Epoch 18/40
1/1 [==============================] - 0s 38ms/step - loss: 0.5782 - accuracy: 0.7143 - val_loss: 0.7519 - val_accuracy: 0.0000e+00
Epoch 19/40
1/1 [==============================] - 0s 34ms/step - loss: 0.5701 - accuracy: 0.7143 - val_loss: 0.7514 - val_accuracy: 0.0000e+00
Epoch 20/40
1/1 [==============================] - 0s 30ms/step - loss: 0.5619 - accuracy: 0.7143 - val_loss: 0.7510 - val_accuracy: 0.0000e+00
Epoch 21/40
1/1 [==============================] - 0s 35ms/step - loss: 0.5539 - accuracy: 0.7143 - val_loss: 0.7506 - val_accuracy: 0.0000e+00
Epoch 22/40
1/1 [==============================] - 0s 40ms/step - loss: 0.5460 - accuracy: 0.7143 - val_loss: 0.7502 - val_accuracy: 0.0000e+00
Epoch 23/40
1/1 [==============================] - 0s 31ms/step - loss: 0.5383 - accuracy: 0.7143 - val_loss: 0.7498 - val_accuracy: 0.0000e+00
Epoch 24/40
1/1 [==============================] - 0s 30ms/step - loss: 0.5310 - accuracy: 0.7143 - val_loss: 0.7495 - val_accuracy: 0.0000e+00
Epoch 25/40
1/1 [==============================] - 0s 34ms/step - loss: 0.5236 - accuracy: 0.7143 - val_loss: 0.7491 - val_accuracy: 0.0000e+00
Epoch 26/40
1/1 [==============================] - 0s 39ms/step - loss: 0.5164 - accuracy: 0.7143 - val_loss: 0.7489 - val_accuracy: 0.0000e+00
Epoch 27/40
1/1 [==============================] - 0s 33ms/step - loss: 0.5095 - accuracy: 0.7143 - val_loss: 0.7487 - val_accuracy: 0.0000e+00
Epoch 28/40
1/1 [==============================] - 0s 30ms/step - loss: 0.5027 - accuracy: 0.7143 - val_loss: 0.7491 - val_accuracy: 0.0000e+00
Epoch 29/40
1/1 [==============================] - 0s 31ms/step - loss: 0.4959 - accuracy: 0.7143 - val_loss: 0.7491 - val_accuracy: 0.0000e+00
Epoch 30/40
1/1 [==============================] - 0s 35ms/step - loss: 0.4893 - accuracy: 0.7143 - val_loss: 0.7490 - val_accuracy: 0.0000e+00
Epoch 31/40
1/1 [==============================] - 0s 30ms/step - loss: 0.4827 - accuracy: 0.7143 - val_loss: 0.7491 - val_accuracy: 0.0000e+00
Epoch 32/40
1/1 [==============================] - 0s 32ms/step - loss: 0.4762 - accuracy: 0.7143 - val_loss: 0.7497 - val_accuracy: 0.0000e+00
Epoch 33/40
1/1 [==============================] - 0s 32ms/step - loss: 0.4696 - accuracy: 0.7143 - val_loss: 0.7505 - val_accuracy: 0.0000e+00
Epoch 34/40
1/1 [==============================] - 0s 32ms/step - loss: 0.4630 - accuracy: 0.7143 - val_loss: 0.7513 - val_accuracy: 0.0000e+00
Epoch 35/40
1/1 [==============================] - 0s 31ms/step - loss: 0.4568 - accuracy: 0.7143 - val_loss: 0.7522 - val_accuracy: 0.0000e+00
Epoch 36/40
1/1 [==============================] - 0s 30ms/step - loss: 0.4505 - accuracy: 0.7143 - val_loss: 0.7532 - val_accuracy: 0.0000e+00
Epoch 37/40
1/1 [==============================] - 0s 30ms/step - loss: 0.4443 - accuracy: 0.7143 - val_loss: 0.7541 - val_accuracy: 0.0000e+00
Epoch 38/40
1/1 [==============================] - 0s 33ms/step - loss: 0.4382 - accuracy: 0.7143 - val_loss: 0.7550 - val_accuracy: 0.0000e+00
Epoch 39/40
1/1 [==============================] - 0s 32ms/step - loss: 0.4319 - accuracy: 1.0000 - val_loss: 0.7558 - val_accuracy: 0.0000e+00
Epoch 40/40
1/1 [==============================] - 0s 30ms/step - loss: 0.4259 - accuracy: 1.0000 - val_loss: 0.7565 - val_accuracy: 0.0000e+00

In [44]:
# avaliação com as variaveis separadas para teste
model.evaluate(X_test, y_test)

1/1 [==============================] - 0s 30ms/step - loss: 0.8307 - accuracy: 0.3333

[0.8307296633720398, 0.3333333432674408]

In [45]:
# avaliação com todos os elementos
model.evaluate(X, y)

1/1 [==============================] - 0s 24ms/step - loss: 0.5787 - accuracy: 0.6667

[0.5786976218223572, 0.6666666865348816]